@{
    ViewData["Title"] = "Email Sent";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Email Sent</h2>
        <p class="text-center">A Verfication Email has been sent to your email address. Please check Your inbox and follow the link</p>
        <div class="text-center">
            <a class="text-decoration-none mt-2" asp-controller="Account" asp-action="Login">Back to Login</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}